<div class="index-view">
  {{top-nav classNames="top-nav index"}}

  <nav class="connect">
    <ul>
      <li>
        <a href={{github}}>{{fa-icon "github"}}</a>
      </li>
      <li>
        <a href={{linkedin}}>{{fa-icon "linkedin"}}</a>
      </li>
      <li>
        <a href={{twitter}}>{{fa-icon "twitter"}}</a>
      </li>
    </ul>
  </nav>
</div>
